<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
 <meta http-equiv="content-type"content="text/html; charset=utf-8">
 </head>
 <title>{shorttitle}</title>
<style>
{css}
</style>
<script type="text/javascript">
{json}
{javascript}
</script>
<body>
<h3 align="left">{title}</h3>
<h4 align="left">Dataset: {dataset}</h4>
<div id="display" class="display"></div>
<table align="left" style='border:0;background-color:#b9d9f2;'>
{table}
</table>
</body>
</html>
