.gitignore
__pycache__
*.pyc
*.so
*.o
/lingpy/tests/output/*.dst
/lingpy/tests/output/*.html
/lingpy/tests/output/*.nex
/lingpy/tests/output/*.taxa
/lingpy/tests/output/*.tre
/lingpy/tests/output/*.csv
/lingpy/tests/output/*.qlc
/lingpy/lingpy-*.qlc
/lingpy/plugins
/lingpy/tests/test_data/*.html
/lingpy.egg-info
*~
*.swp
/build
/include
.coverage
/dist
/doc/build
/doc/out
/lingpy/data/models/*/*.bin
/generated/
/lingpy/plugins/
/private
