*.egg
doc/*
*.egg-info
*.o
*.pyc
*.so
*.swp
*~
/.cache/
.coverage
.eggs
.gitignore
.idea
.tox
/.venv/
/build
/dist
/doc/build
/doc/out
/generated/
/include
/lingpy.egg-info
/lingpy/data/models/*/*.bin
/lingpy/lingpy-*.qlc
/lingpy/plugins
/lingpy/plugins/
/lingpy/_plugins
/lingpy/tests/output/*.csv
/lingpy/tests/output/*.dst
/lingpy/tests/output/*.html
/lingpy/tests/output/*.nex
/lingpy/tests/output/*.qlc
/lingpy/tests/output/*.taxa
/lingpy/tests/output/*.tre
/lingpy/tests/test_data/*.html
/private
__pycache__
