include distribute_setup.py
recursive-include lingpy *.lxs *.msa *.msq *.psq *.psq *.csv *.rc
recursive-include lingpy *.c *.cpp *.pyx
recursive-include lingpy *.html *.css
recursive-include lingpy *.bin INFO converter score cons_score scorer vows_score
