numpy
appdirs
networkx>=2.0,<=2.2
nose
tqdm
six
mock
csvw<=1.5.6; python_version < "3.5"
csvw>=1.5.6; python_version >= "3.5"
clldutils==2.8.0; python_version < "3.5"
clldutils>=2.8.0; python_version >= "3.5"
pycldf==1.7.0; python_version < "3.5"
pycldf>=1.7.0; python_version >= "3.5"
