<table id="{NAME}" style="background-color:#b9d9f2;border=0"><tr style="background-color:#2f95e3;border=0" id="xxx{NAME}">
	<td colspan="3"><b>Concept: <i>{NAME}</i> (ID: {ID})</b></td><td>
<input class="mybut" type="button" onclick="color('sound_classes', '{NAME}');" value="Sound Classes" />
<input class="mybut" type="button" onclick="color('confidence', '{NAME}');" value="Confidence" />
<input class="mybut" type="button" onclick="color('scores', '{NAME}');" value="Scores" />
 </td>
 </tr>
 <tr>
  <td><b>CogID</b></td>
  <td><b>Language</b></td>
  <td><b>Entry</b></td>
  <td><b>Aligned Entry</b></td>
 </tr>
