 <tr style="background-color:#2f95e3;border=0">
  <td colspan="3"><b>Concept: <i>{NAME}</i> (ID: {ID})</b></td>
  <td>
   <input class="mybut" type="button" onclick="color('back');" value="Sound Classes" />
   <input class="mybut" type="button" onclick="color('there');" value="Confidence" />
   <input class="mybut" type="button" onclick="color('scores');" value="Scores" />
  </td>
 </tr>
 <tr>
  <td><b>CogID</b></td>
  <td><b>Language</b></td>
  <td><b>Entry</b></td>
  <td><b>Aligned Entry</b></td>
 </tr>
