<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="content-type"content="text/html; charset=utf-8">
<style>{css}</style>
<title>{shorttitle}</title>
<script type="text/javascript">
{js}
</script>
</head>
<body>
  <table>
    <tr>
      <td>
        <table class="header" >
	  <tr>
	      <td><b>File: </b></td>
	      <td><b>{file}</b></td>
          </tr>
          <tr>
             <td><b>Dataset: </b></td>
             <td><b>{dataset}</b></td>
          </tr>
          <tr>
	    <td><b>Sequence: </b></td>
            <td><b>{sequence}</b></td>
	  </tr>
	</table>
      </td>
      <td width="10"> </td>
      <td>
        <table class="header"> 
	  <tr>
	    <td><b>Height (all): </b></td>
	    <td><b>{taxa}</b></td>
	  </tr>
	  <tr>
	    <td><b>Height (unique): </b></td>
	    <td><b>{uniseqs}</b></td>
	  </tr>
	  <tr>
	    <td><b>PID: </b></td>
	    <td><b>{pid}</b></td>
	  </tr>
	</table>
      </td>
    </tr> 
  </table>
<table id="msa" class="msa" width="{table_width}">
  <thead>
    <tr>
      <th onclick="sortTable();">
	<div class="popup">Taxon<div class="hidden">Change the sorting of the sequences.</div></div>
      </th>
      <th colspan="{width}" onclick="toggle();">
	  <div class="popup">Alignment<div class="hidden">Toggle between unique and all sequences in
		  the sample.</div></div>
      </th>
    </tr>
  </thead>
  <tbody>
{table}
  </tbody>
</table>
<div style="clear:left;margin-top:1em;text-align:left;padding:10px;font-size:10"> <p>Created using <a href="http://lingpy.org">LingPy</a></p> <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.</p> <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0;width:80px;" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a> </p></div>
</body>
</html>
